<!doctype html>
<html>
<body>
    <p><a href="{{ url_for('farming_terra') }}">Terra farming rewards</a></p>
    <p><a href="{{ url_for('farming_secret') }}">Secret farming rewards</a></p>
</body>
</html>
