<!doctype html>
<html>
<body>
    <p><a href="{{ url_for('get_farming_terraswap') }}">Get terraswap farming rewards</a></p>
    <p><a href="{{ url_for('get_farming_anchor') }}">Get anchor farming rewards</a></p>
</body>
</html>
