<!doctype html>
<html>
<body>
    <p><a href="{{ url_for('get_farming_secretswap') }}">Get secretswap farming rewards</a></p>
    <p><a href="{{ url_for('get_farming_siennaswap') }}">Get siennaswap farming rewards</a></p>
</body>
</html>
