<!doctype html>
<html>
<body>
    Luigi311 personal rest api server to get information about certain services
    <p><a href="{{ url_for('staking') }}">Staking rewards</a></p>
    <p><a href="{{ url_for('farming') }}">Farming rewards</a></p>
    <p><a href="{{ url_for('protocol') }}">Protocol stats</a></p>
    <p><a href="{{ url_for('volume') }}">(WIP) Volume stats</a></p>
    <p><a href="{{ url_for('network') }}">Network stats</a></p>
</body>
</html>
