<!doctype html>
<html>
<body>
    <p><a href="{{ url_for('get_protocol_terra') }}">Get terra stats</a></p>
    <p><a href="{{ url_for('get_protocol_terraswap') }}">Get terraswap stats</a></p>
    <p><a href="{{ url_for('get_protocol_anchor') }}">Get anchor stats</a></p>
    <p><a href="{{ url_for('get_protocol_apollo') }}">Get apollo stats</a></p>
</body>
</html>
