<!doctype html>
<html>
<body>
    <p><a href="{{ url_for('protocol_terra') }}">Terra protocol stats</a></p>
    <p><a href="{{ url_for('protocol_secret') }}">Secret protocol stats</a></p>
</body>
</html>
