<!doctype html>
<html>
<body>
    <p><a href="{{ url_for('get_protocol_secretswap') }}">Get secretswap stats</a></p>
    <p><a href="{{ url_for('get_protocol_siennaswap') }}">Get siennaswap stats</a></p>
</body>
</html>
