<!doctype html>
<html>
<body>
    <p><a href="{{ url_for('get_staking_all') }}">Get all staking rewards</a></p>
    <p><a href="{{ url_for('get_staking_luna') }}">Get luna staking rewards</a></p>
    <p><a href="{{ url_for('get_staking_eth') }}">Get eth staking rewards</a></p>
    <p><a href="{{ url_for('get_staking_sol') }}">Get sol staking rewards</a></p>
</body>
</html>
